/* ====================== GLOBALS ========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-500: #ffed00;
  --black: #0e0e0e;
  --white: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--white);
}

ul,
a {
  text-decoration: none;
  list-style-type: none;
}
